html
{
  overflow-y: scroll;
}

header
{
	display: table-row;
	height: 20px;
}

a
{
	transition: color .3s
}

a:hover
{
	text-decoration: none;
	color: 	rgba(215, 60, 30, 100%);
}

header .buttons
{
	padding: 0px;
	background: rgba(255, 255, 255, 100%);
	color: rgba(0, 0, 0, 100%);
	font-size: 16px;
}

hr
{
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 60%);
}

.bold
{
	font-size: 20px;
}

.highlight
{
	color: rgba(255, 100, 70, 100%);
}

.highlight:hover
{
	text-decoration: underline;
	color: rgba(255, 100, 70, 100%);
}

.blink
{
	color: rgba(0, 0, 0, 100%);
}

.blink:hover
{
	text-decoration: underline;
	color: rgba(255, 100, 70, 100%);
}

.main
{
	margin-left: 10%;
}

.contest-year
{
	margin-left: 30px;
}

.contest-p
{
	margin-left: 30px;
}

.contest
{
	margin-left: 43px;
}

footer 
{
	display: table-row;
	height: 100px;
	width: 100%;
	position: relative;
	bottom: 0;
}

footer .copyright 
{
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 1px;
	background: rgba(173, 173, 235, 70%);
	color: rgba(110, 110, 120, 100%);
	font-size: 14px;
}

footer .icong
{
	color: rgba(255, 255, 255, 100%);
	font-size: 30px;
}

html, body 
{
	height: 100%;
	width: 100%;
	margin: 0;
	display: table;
}

.link
{
	text-transform:none;
	color: rgba(255, 100, 70, 100%);
}

.link:hover
{
	color: rgba(255, 0, 0, 100%);
	text-decoration: underline;
}

.zoom
{
	transition: transform 0.6s;
}

.zoom:hover
{
	transform:scale(1.15);
	text-decoration: none;
	color: rgba(0, 0, 0, 100%);
}

@font-face
{
	font-family: dmoj-regular;
	src: url("/css/dmoj-regular.eot");
	src: url("/css/dmoj-regular.woff") format("woff"),
	url("/css/dmoj-regular.otf") format("opentype"),
	url("/css/dmoj-regular.svg#filename") format("svg");
	font-weight: normal;
    	font-style: normal;
}

.dmoj
{
	font-family: dmoj-regular;
}

.dmoj:hover
{
	text-decoration: none;
}

.project 
{
	border: 1px solid rgba(200, 200, 200, 100%);
	border-radius: 5px;
	overflow: hidden;
	height: 325px;
	width: 300px;
	padding: 16px;
}

.project-preview
{
	max-height: 200px;
	min-height: 200px;
	border-bottom: 1px solid rgba(200, 200, 200, 100%);
	overflow: hidden;
	margin: -16px -16px 0px -16px;
}

.project-preview img
{
	transition: transform 0.6s;
}

.project-preview img:hover
{
	transform:scale(1.15);
}

.project-title
{
	color: rgba(0, 0, 0, 100%);
}

.projects
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;	
}

.project-description
{
	font-size: 12px;
	color: rgba(0, 0, 0, 100%);
	border-left: 5px solid rgba(200, 200, 200, 100%);
	padding-left: 12px;
}

.project-description:hover
{
	text-decoration: none;
}

.project-title
{
	font-size: 18px;
	font-weight: 700;
	color: rgba(0, 0, 0, 100%);
}
